name: publish

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish_gh_packages:
    name: Publish to Github Packages
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      
      - name: pnpm setup
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: nodejs setup
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: pnpm publish
        run: pnpm publish --access restricted --publish-branch main --tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
